.Light      { color: #aab9bf;}
.Dark       { color: #0d0101;}
.Primary    { color: #2e2d2b;}
.Secondary  { color: #9e6951;}
.Info       { color: #4472ca;}
.Success    { color: #479525;}
.Warning    { color: #fbbc2b;}
.Danger     { color: #e81759;}
